# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
autobuild/
jupyter_execute/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints
model_inference_*
!analysis_script/model_inference_*
model_ignite*
!analysis_script/1_PPSModel_on_Holo/model_ignite*

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Private dataset
cMotorDBoundOM1stsolnA_*
.cMotorDBoundOM1stsolnA_*
dataset/archive
dataset/PPSCM_OMB
dataset/PPSCM_Apo
dataset/PRCM_OMB
dataset/PRCM_Apo
dataset/ReStroke
dataset/mixPRPPS_OMB_MD123
dataset/training*
dataset/pocket_diameter.json
dataset/ligand_fragments.json
dataset/ref/ligand_fragments.json
dataset/MD2
kfold_test.txt
dataset/examples/*

analysis_script/6_mixPPSPR_model/showcase_holo/*
analysis_script/6_mixPPSPR_model/showcase_holospace/*
analysis_script/6_mixPPSPR_model/showcase_SMD_frag4/*

# in-lab reference files
md_protocol/reference

# temperary files
temp
test.sh
*.npz
*.lock
!poetry.lock

# cfg
utils/config.cfg

# development pkgs
utils/thirdparty/deepdrug3d/test/output*
utils/thirdparty/splitcomplex/*

# third-party pkgs
*.whl
utils/thirdparty/msms/*
!utils/thirdparty/msms/README.md
utils/thirdparty/apbs/APBS-1.5-linux64
utils/thirdparty/apbs/APBS-3.4.1.Linux*
utils/thirdparty/binaries/binaries

# chubby experimental files
experiment/*
config_train_each.yaml
#model_ignite_analysis_cv_overall_.ipynb

# develope script
rapid_test*

# hidden files generated by MDAnalysis
utils/tests/test_data/.PPS_OMB_MD1_aligned_test.xtc_offsets.lock
utils/tests/test_data/.PPS_OMB_MD1_aligned_test.xtc_offsets.npz

# archive files
archive

# model ckpt
utils/ppseg/myo/Kfold2_best_model_169_miou=0.7525.pt

# pixi environments
.pixi/*
!.pixi/config.toml

# optional script
utils/thirdparty/alignment_structure.py